.container {
    position: relative;
    width: 500px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container:hover .overlay {
    opacity: .5;
}

.text {
    color: black;
    font-size: 28px;
    user-select: none;
}